.contactus{ background: var(--bg-dark); color: #bbb; margin: auto; }

.contactus a, form input:last-child{ color: #7ab0a3; text-decoration: none; border: none !important; text-align: right; }


/* Sec title */
.sec-title a,form input:last-child, .service .moretemp a{ font-weight: 600;   font-size: clamp(12px, 1vw, 16px); }
.book a::after, .service .moretemp a::after{  content: '\ea2a'; font-family: Lineicons; display: inline-block; vertical-align: middle; margin-left: 5px; color: inherit; }

/* Details */
.details *{ flex-basis: 40%; flex-grow: 1; flex-shrink: 1; color: #bbb !important; }

/* Form */
form :where(input, textarea){ background: none; border: 2px solid #bbb; padding: 0.4rem; }

form textarea{ height: 10ch; }