*{  box-sizing: border-box; font-family: "Wix Madefor Display", serif; }

body{ overflow-x: hidden; }
/* Main Page Styling */

.intro, .our-story{    height: 47rem; margin-top: 5rem;    & .right,.left{ height: 100%; flex: 1;} }
.intro .left img:first-child, .our-story .left img:first-child{ width: clamp(500px, 70vw, 800px); top: 4rem; left: 20rem; border: 0.8rem solid white; z-index: 10;}
.intro .left img:last-child{ width: clamp(500px, 50vw, 800px); top: 35rem; left: 5%; z-index: 11; }

.intro .right{  background: #ccdbc6;    }
.intro .main-text{ width: clamp(260px, 50vw, 350px); border: 0.8rem solid white;   background: #e8e6e7; top: 25%; left: 4.5rem; z-index: 11; padding-right: 5rem !important; }
.intro .main-text h2{ font-family: "Oswald", serif; font-weight: 400; font-size: clamp(28px, 5vw, 40px); line-height: 1.3; & span { font-family: "Oswald", serif; font-weight: 400; } }
.intro .main-text a{    text-decoration: none; font-size: 12px; }
.intro .main-text a::after{ content: '→'; font-size: 25px;  vertical-align: top; line-height: 1; margin-left: 0.8rem;}



.our-story > *{ flex: 1; }
.our-story .left{   background: #e8e6e7; }
.our-story .left img{ width: clamp(500px, 70vw, 650px); scale: 0.8; margin-left: clamp(10%, 15vw, 30%); }
.os-content{    width: 350px; margin-left: 8rem;}

.followus .title{   color: initial; }


@media (width<=1440px){

}

@media (width <= 768px){
    .intro .main-text{  left: -60%; top: 50%;}
}